<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ladrilhos dois Irmãos</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/LadrilhosCss.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <div class="empresa-logo" >
        <p id="title">Ladrilhos dois Irmãos</p>
        <p class="sub-titulo">- O melhor para sua casa</p>
        <nav class="menu-inicial">
            <ul>
                <li><a href="">Pagina Inicial</a></li>|
                <li><a href="">Quem Somos</a></li>|
                <li><a href="">Solicite um Orçamento</a></li>|
                <li><a href="">Dicas</a></li>
            </ul>
        </nav>
    </div>
    <div class="container">
        @RenderBody()
    </div>
    <footer class="rodape">
        <p><a href="#">Ladrilhos dois irmãos</a></p>
    </footer>

    
</body>
</html>