<div class="col-md-12">
    <h2>Conheça nosso serviços</h2>
    <img src="~/Content/Images/la2.png" class="img-rounded" width="500" height="350"/>
        <h2>A Empresa</h2>
        <p>
            Somos uma empresa que visa a melhor satisfacao de nossos clientes , buscamos sempre ter o melhor preço ,sempre fazemos o melhor do nosso servico,
            Somos uma empresa que visa a melhor satisfacao de nossos clientes , buscamos sempre ter o melhor preço ,sempre fazemos o melhor do nosso servi
            Somos uma empresa que visa a melhor satisfacao de nossos clientes , buscamos sempre ter o melhor preço ,sempre fazemos o melhor do nosso serviços
            Somos uma empresa que visa a melhor satisfacao de nossos clientes , buscamos sempre ter o melhor preço ,sempre fazemos o melhor do nosso serviços.

        </p>
    </div>
<div class="col-lg-2">
    <a href=""><img src="~/Content/Images/la2.png" width="150" height="150" class="img-rounded"  /></a>
    <p><a href="">ver mais</a></p>

</div>
<div class="col-lg-2">
    <a href=""><img src="~/Content/Images/foto-4A.jpg" width="150" height="150" class="img-rounded" /></a>
    <p><a href="">ver mais</a></p>

</div>
<div class="col-lg-2">
    <a href=""><img src="~/Content/Images/la4.jpg" width="150" height="150" class="img-rounded" /></a>
    <p><a href="">ver mais</a></p>

</div>
<div class="col-lg-6">
    <h2><a href="#" style="color:#08d000">Serviços</a></h2>
    <img src="~/Content/Images/foto-4A.jpg" alt="" width="400" height="250"/>

    <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
</div>


